*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    
}

.intro{
    background-color: rgb(18, 18, 218);
    padding: 20px;
}
.intro h1{
    text-align: center;
    font-weight: bold;
    color: white;
}
.intro h2{
    text-align: center;
    color: white;
}
.info{
    padding: 50px;
}
.info .img1{
    align-content: center;
    width: 450px;
}